@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    background-color: #16191d;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container {
    max-width: 900px;
    border: 0.5px solid #28282b;
    border-radius: 12px;
    border-top: none;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.clip {
    cursor: pointer;
    margin-right: 12px;
    margin-top: 3px;
}

.close-btn {
    margin-left: 12px;
    text-decoration: none;
    color: white;
    font-size: 18px
}

.close-btn:hover {
    color: red;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #28282b;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    background-color: #202123;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
}

.title {
    font-size: 18px;
    font-weight: 200;
}

input[type="text"] {
    background-color: white;
    border: 0;
    border-right: .5px solid black;
    margin: 0;
    width: 80%;
    /* Change this to the desired background color code */
}

input:focus {
    outline: none;
    border: none;
}

#bigField {
    border: none;
    background-color: white;
    /* Change this to the desired background color code */
}

.copyFieldContainer {
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.copyField {
    border: none;
    margin-right: 10px;
    height: 36px;
    box-sizing: border-box;
}

#buttonGroup {
    gap: 10px;
    padding-inline: 20px;
}

.copyButton {
    width: 100px;
    font-size: 12px;
    background-color: white;
    border: 0;
    padding: 10px;
}

.copyButton:last-child {
    margin-right: 5px;
    border-left: .5px solid #202123;
}

.convert-btn,
#addFieldButton,
#replaceFieldButton,
#distributeButton,
#removeEmptyLinesButton,
#refreshButton,
#decrementButton,
#resetCountersButton,
#loadButton,
#saveButton {
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #343541;
    width: 100%;
    white-space: nowrap;
    border: 0;
    padding: 6px 12px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#addFieldButton {
    background-color: #207044;
}

#distributeButton {
    background-color: #207044;
    color: white;
}

#refreshButton {
    background-color: #343541;
    color: white;
}

.fieldNumber {
    background-color: white;
    color: black;
    line-height: 2.25;
    font-weight: 200;
    padding-left: 5px;
    margin-left: 5px;
}

#copyFieldsContainer,
#addButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addButtonContainer {
    margin: auto;
    display: flex;
    width: 100%;
    flex: 1;
}

#buttonGroup {
    display: flex;
    margin-top: 10px;
    width: 600px;
}

#bigField {
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    margin: 15px;
    margin-bottom: 0px;
    width: 100%;
    height: 150px;
    resize: vertical;
}

.copiedNote {
    color: green;
    font-size: 50%;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
}

/* Added highlight effect */
.highlight {
    background-color: lightgreen;
    transition: background-color 1s ease;
    padding: 0;
}

.highlight2 {
    background-color: red;
    transition: background-color 1s ease;
    padding: 0;
}

.greenBackground {
    background-color: #207044;
    transition: background-color 1s ease;
    
    padding-top: 3px;
    padding-bottom: 3px;
}

.counter {
    margin-left: 5px;
}