@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    background-color: #16191d;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container {
    max-width: 900px;
    border: 0.5px solid #28282b;
    border-radius: 5px 5px 5px 5px;
    border-top: none;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.opennew {
    cursor: pointer;
    margin-left: 12px;
}

.clip {
    cursor: pointer;
    margin-right: 12px;
    margin-top: 3px;
}

.close-btn {
    margin-left: 12px;
    text-decoration: none;
    color: white;
    font-size: 21px
}

.close-btn:hover {
    color: red;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #28282b;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    background-color: #202123;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
}

.title {
    font-size: 18px;
    font-weight: 200;
}

.containbig {
    width: 100%;
    display: flex;
}

.copybigfield {
    margin-top: 4px;
    cursor: pointer;
}

.containerbigfield {
    display: flex;
    gap: 5px;
}

.hide-bigfield-button {
    cursor: pointer;
}

input[type="text"] {
    background-color: white;
    border: 0;
    margin: 0;
    margin-right: 3px;
    width: 80%;
    /* Change this to the desired background color code */
}

input:focus,
textarea:focus {
    outline: none;
    border: none;
}

#bigField {
    border: none;
    background-color: white;
    /* Change this to the desired background color code */
}

.copyFieldContainer {
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.copyField {
    border: none;
    margin-right: 10px;
    height: 36px;
    box-sizing: border-box;
}

.contain-all-btn {
    margin-inline: 5px;
}

#buttonGroup {
    display: flex;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
}

.copyButton {
    width: 100px;
    font-size: 12px;
    background-color: white;
    border: 0;
    padding: 10px;
}

.copyButton:last-child {
    margin-right: 5px;
    margin-left: 3px;
}

.swal2-title {
    font-size: 18px;
}

.swal2-popup {
    width: auto;
    height: auto;
}

.convert-btn,
#addFieldButton,
#replaceFieldButton,
#distributeButton,
#removeEmptyLinesButton,
#refreshButton,
#decrementButton,
#resetCountersButton,
#loadButton,
#saveButton {
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #343541;
    flex: 1;
    white-space: nowrap;
    border: 0;
    padding: 8px 15px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

#distributeButton:hover,
#addFieldButton:hover {
    background-color: #207044d0;
    transition: all .3s ease;
}

.convert-btn:hover,
#replaceFieldButton:hover,
#refreshButton:hover,
#decrementButton:hover,
#resetCountersButton:hover {
    background-color: #343541c5;
    transition: all .3s ease;
}

#addFieldButton {
    background-color: #207044;
}

#distributeButton {
    background-color: #207044;
    color: white;
}

#refreshButton {
    background-color: #343541;
    color: white;
}

.fieldNumber {
    background-color: white;
    color: black;
    line-height: 2.25;
    font-weight: 200;
    padding-left: 5px;
    margin-left: 5px;
}

#copyFieldsContainer,
#addButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addButtonContainer {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    flex: 1;
}

#buttonGroup {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

#bigField {
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 100%;
    height: 150px;
    resize: vertical;
}

.foot-container {
    background-color: #202123;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
}

#charCounter {
    font-size: 14px
}

.copiedNote {
    color: green;
    font-size: 50%;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
}

/* Added highlight effect */
.highlight {
    background-color: lightgreen;
    padding: 0;
}

.highlight2 {
    background-color: red;
    padding: 0;
}

.greenBackground {
    background-color: #207044;
    padding-top: 3px;
    padding-bottom: 3px;
}

.counter {
    margin-left: 10px;
}

.hide-bigfield {
    margin-right: 10px;
}

.rotate-hide {
    transform: rotate(45deg);
    /* Adjust the angle as needed */
}